<div class="row">
  <div ng-repeat="person in p.resultSearch" ng-click="!person.supannListeRouge && main.showUser(person.mail)" >
    <div class="col-md-2">
      <div href="" class="setHover photoGallery">
          <div style="height: 180px;overflow: hidden;">
            <img  title="{{person.supannListeRouge ? '' : person.displayName}}"
            ng-src="{{person.photoURL}}" class="img-responsive">
          </div>
          <div style="text-align: center;padding: 9px;">
            <p ng-if="!person.supannListeRouge">{{person.displayName}}</p>
            <p ng-if="person.supannListeRouge">Personne sur liste rouge</p></br>
          </div>
      </div>
    </div>
  </div>
</div>
