<div class="col-md-12">
<div ng-if="p.showDetailPers">
  <div ng-include="'template/resultSearch-detailPers-inc.html'"></div>
</div>

<!--Le filtre est affiché  si un filtre n'affiche aucune personne,cela permet à l'utlisateur d'avoir la possibilité de filtrer sur autre donnée (p.affiliation)-->
<div ng-if="(p.resultSearch.length>1 && !p.showDetailPers)||(p.resultSearch.length<=1 && p.affiliation&&!p.showDetailPers)||(p.resultSearch.length<=1 && p.affectation&&!p.showDetailPers)" >
  <div class="row" ng-if="p.resultSearch.length" >
    <div class="col-md-12" id="menus">
      <div class="nav" style="text-align:right">
        <a ng-href=""  class="btn btn-primary {{!main.showTrombi?'youarehere':''}}" title="Afficher la liste" ng-click="main.setTrombi(false)"><span class='glyphicon glyphicon-th-list'></span> Liste</a>
        <a ng-href=""  class="btn btn-primary {{main.showTrombi?'youarehere':''}}" title="Afficher le trombinoscope" ng-click="main.setTrombi(true)" ><span class='glyphicon glyphicon-user'></span><span class='glyphicon glyphicon-user'></span> Trombinoscope</a>
      </div>
    </div>
  </div>

  <div ng-if="!p.showDetailPers">
    <div class="row"  >
      <div class="col-md-12" ng-if="!main.authenticated" style="padding-bottom:8px">
        <span class="text-success">La recherche publique est limitée à 5 résultats, pour plus de résultats, <a target="_self" href="/#?connected" ng-click="p.goConnected()">veuillez vous identifier.</a></span>
      </div>
    </div>
    <div class="row"  >
      <div class="col-md-12" >
        <div class="bg-info" style="padding: 6px" >{{p.resultSearch.length}} résultat(s) pour:
          <div class="row">
            <div class="col-md-6 text-muted" ng-if="p.affectation">
               <div>{{p.affectationName}} <span class='glyphicon glyphicon-remove setHover' ng-click="p.goDeletedFilter('affectation')"></span></div>
               <div ng-if="p.manager.role" >{{p.manager.role}} - <a href="" ng-click="p.$location.path('/Show/' + p.manager.mail)">{{p.manager.displayName}}</a></div>
               <div ng-if="p.manager.structure['labeledURI']" >Site web: <a ng-href="{{p.manager.structure['labeledURI']}}" target="_blank">{{p.manager.structure['labeledURI']}}</a></div>
            </div>
            <div class="col-md-3 text-muted" ng-if="p.token">
                <div >{{p.token}} <span class='glyphicon glyphicon-remove setHover' ng-click="p.goDeletedFilter('token')"></span></div>
            </div>
            <div class="col-md-3 text-muted" ng-if="p.affiliation">
              <div>{{p.affiliationName|translate}} <span class='glyphicon glyphicon-remove setHover' ng-click="p.goDeletedFilter('affiliation')"></span></div>
            </div>
          </div>
        </div>
        </br>
      </div>
    </div>
  </div>

  <div class="row"  >
    <div class="col-md-12" >
      <div class="bg-info" style="padding: 6px" >Affiner par:
         <div class="radio-inline" ng-repeat="v in p.listStatus">
           <a target="_self" ng-model="p.searchCrit.filter_eduPersonAffiliation" ng-class="{'selected':v.id === p.affiliation}" ng-click="p.goAffiliation(v.id)">{{v.translationTag|translate}}</a>
        </div>
      </div>
      </br>
    </div>
  </div>

  <div class="row" ng-if="!main.showTrombi">
    <div ng-include="'template/resultSearch-listPers-inc.html'"></div>
  </div>

  <div class="row"ng-if="main.showTrombi" style="margin-top:50px;">
    <div ng-include="'template/resultSearch-photoGallery-inc.html'"></div>
  </div>
</div>
</div>
