<div class="col-md-12" >
  <table class="table table-striped" >
    <tr ng-repeat="res in p.resultSearch | filter:p.filter" ng-click='p.showUser(res.person.uid, true)' >
        <!-- a voir quel syntaxe utilise pour img-thumbnail-->
        <!--td><img title="{{res.person.givenName}}" src="{{p.urlJpegPhoto}}{{res.person.uid}}"  width="54" height="34" class="img-thumbnail img-responsive img-circle"></td>-->
        <td class="col-md-1">
          <img title="{{res.person.givenName}} {{res.person.sn}}" src="https://userphoto-test.univ-paris1.fr/?uid={{res.person.uid}}"  height="34" class="img-thumbnail img-responsive img-circle">
        </td>
        <td class="col-md-5">
            <div>{{res.person.supannCivilite}} {{res.person.givenName}} {{res.person.sn}}</div>
            <div ng-repeat="employeeType in res.person.employeeType">{{employeeType}}</div>
            <div ng-repeat="role in res.person.supannRoleGenerique">{{role}}</div>
            <div ng-repeat="desc in res.person.description">{{desc}}</div>
            <div ng-repeat="info in res.person.info">{{info}}</div>
            <div><a ng-href="mailto:{{res.person.mail}}" target="_blank" ng-click='p.noShowUser = true'>{{res.person.mail}}</a></div>
        </td>
        <td class="col-md-4">
          <div ng-repeat="affectation in res.person['supannEntiteAffectation-all']">
          {{affectation.description}}
          </div>
        </td>
        <td class="col-md-2" style="white-space:nowrap">
            <div  ng-repeat="telNum in res.person.telephoneNumber">
              <a ng-href="tel:{{telNum}}" target="_blank" ng-click='p.noShowUser = true'>{{telNum}}</a>
            </div>
            <div ng-repeat="telAut in res.person.supannAutreTelephone">
              <a ng-href="tel:{{telAut}}" target="_blank" ng-click='p.noShowUser = true'>{{telAut}}</a>
            </div>
            <div ng-repeat="telFac in res.person.facsimileTelephoneNumber">{{telFac}}</div>
            <!--si authentifié-->
            <div ng-if="main.authenticated && res.person.mobile">
              <div ng-repeat="mobile in res.person.mobile">
                <a ng-href="tel:{{mobile}}" target="_blank" ng-click='p.noShowUser = true'>{{mobile}}</a>
              </div>
            </div>
        </td>
    </tr>
  </table>
</div>
