<div class="col-md-12" >
  <table class="table table-striped" >
    <tr ng-repeat="person in p.resultSearch" ng-click="!person.supannListeRouge && p.$location.path('/Show/' + person.uid)" class="setHover">
        <!-- a voir quel syntaxe utilise pour img-thumbnail-->
        <!--td><img title="{{person.givenName}}" src="{{p.urlJpegPhoto}}{{person.uid}}"  width="54" height="34" class="img-thumbnail img-responsive img-circle"></td>-->
        <td class="col-md-1" >
          <div class="imgCicle">
          <img title="{{person.supannListeRouge ? '': person.givenName}} {{person.supannListeRouge ? '' : person.sn}}" ng-src="https://userphoto.univ-paris1.fr/?uid={{person.uid}}"  height="34" class="img-responsive img-circle">
          <div>
        </td>
        <td class="col-md-5">
            <div ng-if="!person.supannListeRouge">
              <div>{{person.supannCivilite}} {{person.givenName}} {{person.sn}}</div>
              <div ng-repeat="role in person['supannRoleEntite-all']">{{role.role}}
                 <a ng-href="#/Recherche/?affectation={{role.structure.key}}{{main.authenticated ? '&connected' : ''}}"
                  ng-click='p.noShowUser = true' g-model="p.searchCrit.filter_member_of_group" tooltip-placement="top" uib-tooltip={{role.structure.description}}>{{role.structure.name}}</a>
              </div>
              <div ng-repeat="desc in person.description">{{desc}}</div>
              <div ng-repeat="info in person.info">{{info}}</div>
              <div><a ng-href="mailto:{{person.mail}}" target="_blank" ng-click='p.noShowUser = true'>{{person.mail}}</a></div>
            </div>
            <div ng-if="person.supannListeRouge">
              <span class="text-warning">Cette personne est sur la liste rouge. Veuillez vous identifier pour pouvoir la visualiser</span><a target="_self" href="/#?connected" ng-click="p.goConnected()"> Connexion </a>
            </div>
        </td>
        <td class="col-md-4">
          <div ng-repeat="affectation in person['supannEntiteAffectation-all']">
             <a ng-href="#/Recherche/?affectation={{affectation.key}}{{main.authenticated ? '&connected' : ''}}"
             ng-click='p.noShowUser = true' g-model="p.searchCrit.filter_member_of_group">{{affectation.description}}</a>
          </div>
        </td>
        <td class="col-md-2" style="white-space:nowrap">
            <div  ng-repeat="telNum in person.telephoneNumber">
              <a ng-href="tel:{{telNum}}" target="_blank" ng-click='p.noShowUser = true'>{{telNum}}</a>
            </div>
            <div ng-repeat="telAut in person.supannAutreTelephone">
              <a ng-href="tel:{{telAut}}" target="_blank" ng-click='p.noShowUser = true'>{{telAut}}</a>
            </div>
            <!--si authentifié-->
            <div ng-if="main.authenticated && person.mobile">
              <div ng-repeat="mobile in person.mobile">
                <a ng-href="tel:{{mobile}}" target="_blank" ng-click='p.noShowUser = true'>{{mobile}}</a>
              </div>
            </div>
            <div ng-repeat="telFac in person.facsimileTelephoneNumber">{{telFac}} (Fax)</div>
        </td>
    </tr>
  </table>
</div>
