<div ng-if="p.showDetailPers">
  <div ng-include="'resultSearch-detailPers-inc.html'"></div>
</div>

<div ng-if="p.resultSearch.length >1 || p.$location.url().includes('affiliation')" >
  <div class="row" ng-if="p.resultSearch.length >1" >
    <div class="col-md-12" id="menus">
      <div class="nav" style="text-align:right">
        <a ng-href=""  class="btn btn-primary {{!main.showTrombi?'youarehere':''}}" title="Afficher la liste" ng-click="p.setTrombi(false)"><span class='glyphicon glyphicon-th-list'></span> Liste</a>
        <a ng-href=""  class="btn btn-primary {{main.showTrombi?'youarehere':''}}" title="Afficher le trombinoscope" ng-click="p.setTrombi(true)" ><span class='glyphicon glyphicon-user'></span><span class='glyphicon glyphicon-user'></span> Trombinoscope</a>
      </div>
    </div>
  </div>
  <div ng-if="!p.showDetailPers">
    <div class="row"  >
      <div class="col-md-12" ng-if="!main.authenticated" style="padding-bottom:8px">
        <span class="text-success">La recherche publique est limitée à 5 résultats, pour plus de résultats, <a target="_self" href="/#?connected" ng-click="p.goConnected()">veuillez vous identifier.</a></span>
      </div>
      </br>
      <div class="col-md-12" >
        <div class="bg-info" style="padding: 6px" >{{p.resultSearch.length}} résultat(s) pour:
          <div class="text-muted">{{main.searchCrit.token.name?main.searchCrit.token.name:main.searchCrit.token}}<span class='glyphicon glyphicon-remove'></span> </div>
          <div ng-if="p.managerName"><span class="text-muted">{{p.managerName}}</span></div>
          <div ng-if="main.searchStrcture['labeledURI']">Site web: <a ng-href="{{main.searchStrcture['labeledURI']}}" target="_blank">{{main.searchStrcture['labeledURI']}}</a></div>
        </div>
        </br>
      </div>
      <div class="col-md-12" >
        <div class="bg-info" style="padding: 6px" >Affiner par:
           <div class="radio-inline" ng-repeat="v in p.listStatus">
             <a target="_self" ng-model="p.searchCrit.filter_eduPersonAffiliation" ng-class="{'selected':$index == main.selectedRow}" ng-click="p.goAffiliation(v.id);p.setClickedRow($index)">{{v.translationTag|translate}}</a>
          </div>
        </div>
        </br>
      </div>
    </div>

    <div class="row" ng-if="!main.showTrombi && p.resultSearch.length>1">
      <div ng-include="'resultSearch-listPers-inc.html'"></div>
    </div>

    <div class="row"ng-if="main.showTrombi&&p.resultSearch.length>1" style="margin-top:50px;">
      <div ng-include="'resultSearch-photoGallery-inc.html'"></div>
    </div>
</div>
