<div class="row">
  <div ng-repeat="person in p.resultSearch" ng-click="!person.supannListeRouge && p.$location.path('/Show/' + person.uid)" >
    <div class="col-md-2">
      <div href="" class="setHover photoGallery">
          <img  title="{{person.supannListeRouge ? '' : person.givenName}} {{person.supannListeRouge ? '' : person.sn}}"
          ng-src="https://userphoto.univ-paris1.fr/?uid={{person.uid}}" class="img-responsive">
      </div>
      <div style="text-align: center;">
        <p ng-if="!person.supannListeRouge">{{person.givenName}} {{person.sn}}</p>
        <p ng-if="person.supannListeRouge">Personne sur liste rouge</p></br>
      </div>
    </div>
  </div>
</div>
