<div class="row">
  <div ng-repeat="res in p.resultSearch" ng-click="res.person.supannCivilite=='supannListeRouge'?'':p.showUser(res.person.uid, true)" >
    <div class="col-md-2">
      <div href="" class="thumbnail item-image">
          <img  title="{{res.person.supannCivilite!='supannListeRouge'? res.person.givenName :''}} {{res.person.supannCivilite!='supannListeRouge'? res.person.sn : ''}}"
          ng-src="https://userphoto.univ-paris1.fr/?uid={{res.person.uid}}&test=1" class="img-responsive" >
      </div>
      <div style="text-align: center;">
        <p ng-if="res.person.supannCivilite!='supannListeRouge'">{{res.person.givenName}} {{res.person.sn}}</p>
        <p ng-if="res.person.supannCivilite=='supannListeRouge'">Personne sur liste rouge</p>
      </div>
    </div>
  </div>
</div>
