<div>
  <ul class="breadcrumb" ng-repeat="i in p.breadcrumbTotal">
    <li ng-repeat="item in i">
      <span ng-if="!item.category">
        {{item.name}}
      </span>
      <span ng-if="item.category">
        <a ng-href="#/Recherche/?affectation={{item.rawKey}}{{main.authenticated ? '&connected' : ''}}"  ng-model="p.searchCrit.filter_member_of_group">{{item.name}}</a>
      </span>
    </li>
  </ul>
</div>

<div class="col-md-12 alt" >
  <div  class="row" ng-repeat="person in p.resultSearch">
      <div class="col-md-12">
        <h2 class="cap">{{person.supannCivilite}} {{person.givenName}} {{person.sn}}</h2>
      </div>
      <div class="col-md-12">
            <div  ng-repeat="affiliation in person.eduPersonAffiliation">
              <div ng-repeat="libelle in p.listStatus | filter : {'id': affiliation}: true">{{libelle.translationTag|translate}}</div>
          </div>
          <div ng-if="person.eduPersonPrimaryAffiliation=='teacher'||person.eduPersonPrimaryAffiliation=='researcher'">
            <div ng-repeat="emplType in person.employeeType"> {{emplType}}</div>
          </div>
          <div ng-repeat="role in person['supannRoleEntite-all']">{{role.role}}
             <a ng-href="#/Recherche/?affectation={{role.structure.key}}{{main.authenticated ? '&connected' : ''}}"
              ng-click='p.noShowUser = true' ng-model="p.searchCrit.filter_member_of_group" tooltip-placement="top" uib-tooltip={{role.structure.description}}>{{role.structure.name}}</a>
          </div>
          <div ng-repeat="desc in person.description"> {{desc}}</div>
          <div ng-repeat="info in person.info"> {{info}}</div>
          <div ng-repeat="uri in person.labeledURI" ><a ng-href="{{uri}}" target="_blank" ng-click='p.noShowUser = true'> {{uri}}</a></div>
          <div><a ng-href="mailto:{{person.mail}}" target="_blank" ng-click='p.noShowUser = true'> {{person.mail}}</a></div></br>
      </div>

      <div ng-if="person.eduPersonPrimaryAffiliation=='student'|| person.eduPersonPrimaryAffiliation=='alum'">
        <div class="col-md-6 radio-inline" ng-if="p.lastDiplomas">
          <div ng-if="p.lastDiplomas">
              <div class="row">
                <div class="col-md-2"><label>Diplôme(s)</label></div>
                <div class="uneditable-inpu col-md-10" ng-repeat="diploma in p.lastDiplomas">
                  {{diploma.etape}}
                </div>
              </div>
          </div>
        </div>
        <div class="col-md-2 text-center">
            <img title="{{person.givenName}} {{person.person.sn}}" ng-src="https://userphoto.univ-paris1.fr/?uid={{person.uid}}"   height="64" class="img-thumbnail img-responsive img-circle">
        </div>
      </div>
      <div ng-if="!(person.eduPersonPrimaryAffiliation=='student'|| person.eduPersonPrimaryAffiliation=='alum')">
        <div class="col-md-4">
          <span ng-if="person.telephoneNumber">
            <label>Téléphone fixe </label>
            <span class="uneditable-input" ng-repeat="telephoneNumber in person.telephoneNumber"><a ng-href="tel:{{telephoneNumber}}" target="_blank" ng-click='p.noShowUser = true'> {{telephoneNumber}}</a></span><br>
          </span>
          <span ng-if="person.supannAutreTelephone">
              <label>Téléphone secondaire </label>
              <span class="uneditable-input {{!$first?'setpadding':''}}" ng-repeat="supannAutreTelephone in person.supannAutreTelephone">
                <a ng-href="tel:{{supannAutreTelephone}}" target="_blank" ng-click='p.noShowUser = true'> {{supannAutreTelephone}}</a></br>
          </span>
          <span ng-if="main.authenticated && person.mobile">
              <label>Téléphone mobile </label>
              <span class="uneditable-input" ng-repeat="mobile in person.mobile"> <a ng-href="tel:{{mobile}}" target="_blank" ng-click='p.noShowUser = true'>{{mobile}}</a></span><br>
          </span>
          <span ng-if="person.facsimileTelephoneNumber">
              <label>Fax </label>
              <span class="uneditable-input" ng-repeat="facsimileTelephoneNumber in person.facsimileTelephoneNumber"> {{facsimileTelephoneNumber}}</span><br>
          </span>
        </div>
        <div class="col-md-6">
          <span ng-if="person['supannActivite-all']">
            <label>Discipline(s)</label>
            <span class="uneditable-input" ng-repeat="activite in person['supannActivite-all']">Section {{(activite.key.replace('{','')).replace('}','')}} - {{activite.name}}</span><br>
          </span>
          <span ng-if="person.buildingName">
              <label >Site</label>
              <span class="uneditable-input " ng-repeat="buildingName in person.buildingName"> {{buildingName}}</span><br>
          </span>
          <span ng-if="person.roomNumber">
            <label>Bureau</label>
            <span class="uneditable-input" ng-repeat="roomNumber in person.roomNumber"> {{roomNumber}}</span><br>
          </span>
          <span ng-if="person.up1FloorNumber">
            <label>Étage</label>
            <span class="uneditable-input" ng-repeat="up1FloorNumber in person.up1FloorNumber"> {{up1FloorNumber}}</span><br>
          </span>
          <span ng-if="person.postalAddress">
              <label>Adresse postale</label>
              <span style="white-space:pre-wrap;">{{person.postalAddress}}</span><br>
              <label><a ng-href="http://maps.google.fr/maps?t=m&amp;z=16&amp;q={{person.postalAddress}}" title="Afficher la carte" target="_blank"><span class="glyphicon glyphicon-map-marker"></span></a><br></label>
          </span>
        </div>
        <div class="col-md-2 text-center imgCicleOther">
            <img title="{{person.givenName}} {{person.person.sn}}" ng-src="https://userphoto.univ-paris1.fr/?uid={{person.uid}}"   class="img-responsive img-circle">
        </div>
      </div>
  </div><!--fin class="row" ng-repeat="person in p.resultSearch" -->
</div>
