/**
Si mode mobile forcer la liste des personnes à s'adapter à la taille du mobile
En effet le tag "table" ne s'adapte pas automatiquement à la taille du mobile
**/
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .table tr td  {
      width:100%;
      display: block;
      border-top: 0px solid #d42626 !important;
    }
    .table tr {
      border: 1px solid #ccc;
    }
}

.panelshadow {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0 8px 0 rgba(0, 0, 0, .10);
    padding-bottom: 10px;
}
.alt {
    background-color:#eee;
}

#menus .nav a {
  background: #ddd;
}

#menus .nav ul li
{
  display:inline;
}

#menus .nav a.youarehere {
    background: #337ab7;
}

.selected {
  text-decoration: underline
}


.setHover {
    cursor: pointer;
}

.setpadding{
	padding-left:152px;
  left:0;
}
.imgCicle{
  position: relative;
  width: 100px;
  height: auto;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
  padding: 0;
}

.imgCicle img{
  width: 100%;
  height: auto;
  border: 0 none;
  float: left;
  margin: 0;
  max-height: none;
  max-width: none;
  padding: 0;
  border-radius: 0;
}

.imgCicleOther{
  position: relative;
  width: 144px;
  height: auto;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
  padding: 0;
}

.imgCicleOther img{
  width: 100%;
  height: auto;
  border: 0 none;
  float: left;
  margin: 0;
  max-height: none;
  max-width: none;
  padding: 0;
  border-radius: 0;
}

.photoGallery{
position: relative;
width: 144px;
height: 200px;
overflow: hidden;
margin: 0 auto;
padding: 0;
}

.photoGallery img{
width: 100%;
height: auto;
border: 0 none;
float: left;
margin: 0;
max-height: none;
max-width: none;
padding: 0;}

/**
Surcharger btn-primary,breadcrumb
**/
.btn-primary {
    border-color: white !important;
}

.breadcrumb > li + li::before {
    padding: 0 0 0 10px !important;
