/**
Si mode mobile forcer la liste des personnes à s'adapter à la taille du mobile
En effet le tag "table" ne s'adapte pas automatiquement à la taille du mobile
**/
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .table tr td:first-child  {
      float: right;
  }
  .table tr td  {
    display: block;
    border-top: 0px solid #d42626 !important;
  }
  .table tr {
    border: 1px solid #ccc;
  }
}

.alt {
  background-color:#eee;
}

#menus .nav a {
  background: #ddd;
}

#menus .nav ul li
{
  display:inline;
}

#menus .nav a.youarehere {
  background: #337ab7;
}

.setHover {
  cursor: pointer;
}

.imgCicle{
  position: relative;
  width: 130px;
  height: 130px;
  overflow: hidden;
  border-radius: 50%;
  padding-left: 0;
}
.imgMarg{
  margin: 15px auto 0;
  padding-right: 0;
}

.imgCicle img{
  width: 100%;
  height: auto;
  border: 0 none;
  float: left;
  margin: -20px 0 0 0px;
  max-height: none;
  max-width: none;
  padding: 0;
}

.photoGallery{
  position: relative;
  width: 144px;
  height: 240px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
}

.photoGallery img{
  width: 100%;
  height: auto;
  border: 0 none;
  float: left;
  margin: 0;
  max-height: none;
  max-width: none;
  padding: 0;}

label {
  margin-right: 0.5em;
  margin-bottom: 0;
}

.marginTop{
  margin-top:10px;
}
.phoneNumbers > div {
  white-space:nowrap;
  display: inline-block;
  margin-right: 1em;
}

.selected {
    background-color:#dad3d3;
    color:white;
    text-decoration: none;
}

/**
Surcharger btn-primary,breadcrumb
**/
.btn-primary {
  border-color: white !important;
}

.breadcrumb > li + li::before {
  padding: 0 0 0 10px !important;
}
.table > tbody > tr > td{
  vertical-align: middle !important;
}
