
  
 

 

/*************Annuaire 16 nov 2021 ***********/ 


.my-icon {
  display: inline-flex;
}
.my-icon > svg {
  margin: auto;
}

a {
    color: #20558a;
}

a:hover {
    color: #00326e
}

Div.App {
    margin-top: 20px;
    font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
    font-size: 12px;
    color: #555;
}

#bandeau-anonyme-title {
  text-align: center;
}
#bandeau-anonyme-title, #bandeau-anonyme-title a {
  color: #727780;
  font-size: 26px;
  padding: 9px 0px 13px 0px !important;
}
#bandeau-anonyme-title a:hover {
  text-decoration: none;
}

.nav.affiliations {
    margin-bottom: 22px;
}

.backToHome {
  padding: 0;
}

.App > .row {
  align-items: flex-start;
  justify-content: space-evenly;
}

.search {
    width: 75%;
    min-width: 250px;
    border: none;
    text-align: center;
}

.chartFormatLink {
    width: 25%;
    margin-top: 10px;
    min-width: 100px;
}

.search form {
    width: 70%;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

.search .my-icon-search {
  --my-icon-size: 13px;
  fill: #555;
  height: 31px; /* force input's height */
}

.form-control {
    background-color: #fff;
    border: 1px solid #5381ac;
    font-size: 13px;
    height: 31px;
    outline: medium none;
}

/* ____________ Menu deroulant _________________ */


.ui-menu {
    padding: 0px !important;
    -webkit-box-shadow: 3px 6px 2px -3px rgba(102,102,102,1);
    -moz-box-shadow: 3px 6px 2px -3px rgba(102,102,102,1);
    box-shadow: 3px 6px 2px -3px rgba(102,102,102,1);
}

.ui-menu-item {
    padding-left: 2px !important;
    padding-right: 2px !important;
}

.ui-widget {
    font-size: 1em !important;
}

.ui-menu-item.odd {
    border-top: 1px dotted #999;
    border-bottom: 1px dotted #999;
    background-color: white !important;
}

.ui-autocomplete-loading :hover {
    background-color: white !important;
}


/* Les statuts centr�  */
.ui-menu .kind {
    text-transform: uppercase;
    color: #666 !important;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    padding: 3px !important;
    margin: 0px;
    background-color: #f0f0f0 !important;
}

.ui-menu .warning {
    color: #20558a !important;
    background-color: #f4f6fa;
    padding: 10px !important;
    border-top: 1px dotted #999;
    border-radius: 7px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.ui-corner-all .warning a {
    color: #20558a!important;
    border: 1px #999 solid;
    text-align: center;
    text-transform: uppercase;
    width: 101px;
    margin-top: 6px;
    padding: 3px !important;
}

.ui-corner-all .warning a:hover {
    border: 1px #999 solid;
    margin-top: 6px !important;
    text-align: center;
    font-weight: bold !important;
    background-color: #fff !important;
    padding: 3px !important;
}


/* _______________________ AFFILIATION ______________________ */


.affiliations > span {
    display: inline-block;
    margin: 10px 0 0 0;
    padding: 0px;
    font-size: 11px;
    font-family: "Brandon Grotesque",Arial,sans-serif;
    text-transform: uppercase;
}

.affiliations li {
    padding: 3px 9px 3px 1px;
    margin: 1px 0px 1px 11px;
}

.affiliations li a {
    color: #666;
}

.affiliations li.selected a {
    color: #00326e !important;
    text-decoration: none;
}

.my-icon-remove:hover {
    fill: #20558A !important;
}

.affiliations li.selected {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #c89108;
    color: #c89108;
    margin-right: 0px;
}

.badge {
    background-color: white;
    padding: 0;
    margin: 0;
}


/* __________________________FILTRES________________ */

.Filters > div {
    background-color: #fff !important;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Users .Filters {
    margin-bottom: 15px;
    margin-top: 15px;
    width: 100%;
}

.Filters > div > div {
    padding: 4px 2px 3px 4px;
    margin: 7px;
    color: #555;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #c89108;
    font-size: 12px;

    display: inline-flex;
    justify-content: space-between;

    font-weight: bold;
    min-width: 129px;
}

.Filters > div > div > a {
    margin-left: 1.5rem;
}

.affectationFilter .name {
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 12px;
}


.my-icon.my-icon-remove {
    background-color: #e55302;
    border: 1px solid #e55302;
    border-radius: 2px;
    fill: white;
    --my-icon-size: 10px;
    width: 13px;
}

.affiliations .my-icon-remove {
  margin-right: -8px;
  margin-left: 4px;
}

.clear-all-filters {
  position: absolute;
  left: 10px;
  top: 8px;
}

.with-clear-all-filters input {
  padding-left: 28px;
}

/******* ligne navigation affichage par liste / Trombino **********/


.nb-results-and-formats {
    background-color: #727780;
    min-height: 27px;
    padding-left: 15px;
    font-size: 18px;
    color: #FBCD5F;
    display: flex;
    justify-content: space-between;
    margin-top: 9px;
}

.ChooseFormat {
    display: inline-flex;
}

.ChooseFormat .btn {
    padding: 4px 10px;
    border-left: 1px solid #fff;
}

.ChooseFormat a {
    background-color: #727780;
    fill: white;
    border: 0px;
    border-radius: 0px;
    font-size: 12px;
}

.ChooseFormat a.youarehere {
    background-color: #9f6c07;
    transition: all 0.4s linear;
}

.ChooseFormat a:hover {
    background-color: #C89108;
    transition: all 0.3s linear;
}

.ChooseFormat .text {
  margin-left: 2px;
  vertical-align: text-top;
}

.Users .warning {
    text-align: center;
    font-size: 15px;
    color: #555;
    font-style: italic;
    font-family: Georgia, "DejaVu Serif", Norasi, "Times", serif;
    margin-top: 30px;
    margin-bottom: 15px;
}

.Users .warning a {
    background-color: #f4e9ce;
    border: 1px solid #d8b252;
    border-radius: 9px;
    display: inline-block;
    padding: 1px 11px;
    transition: all 0.4s linear;
}

.Users .warning a:hover {
    background-color: #fff;
    text-decoration: none;
    border: 1px solid #c89108;
    color: #20558a;
    transition: all 0.4s linear;
}


/* _______________ (2)  TABLE LISTE & PHOTO _____________ */


.Users .table {
    margin-top: 15px;
}

.User label {
    font-weight: initial;
    margin-right: 0;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #f7f7f8;
}

.table-striped > tbody > tr:nth-of-type(2n) {
    background-color: #fff;
}

.table-striped > tbody > tr  {
    border-top: 1px solid #ccc;
}

.table-striped {
    border-bottom: 1px solid #ccc;
}

.table-striped > tbody > tr:hover {
    background:#DFE6F3;
    border-top: 1px solid #b5c1da;
}

.imgCircle {
    position: relative;
    width: 139px;
    height: 139px;
    overflow: hidden;
    border-radius: 50%;
    padding-left: 0;
}

.UserInTable td {
  padding: 8px;
}

.UserInTable .imgCircle {
    width: 105px;
    height: 105px;
}

.imgCircle img {
    width: 100%;
    height: auto;
    border: 0 none;
    margin: -20px 0 0 0px;
    max-height: none;
    max-width: none;
    padding: 0;
}

.btn {
    padding-top: 2px;
    padding-right: 12px;
    padding-bottom: 3px;
    padding-left: 12px;
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: 400;
    background-image: none;
    border-top: 0px;
    border-radius: 0px;
}

.btn .my-icon {
  vertical-align: middle;
}

.UserInTable .btn-primary {
    font-size: 12px;
    width: 140px;
    margin-top: 24px;
    margin-bottom: 12px;
    padding-top: 3px;
    border-radius: 4px;
    color: #00326E;
    border: 1px solid #95a7cb;
    background-color: #F4F6FA;
}

.UserInTable .btn-primary:hover {
    background-color: #fff;
    border: 1px solid #5381ac;
    border-left-width: 2px;
    border-right-width: 2px;
    font-weight: 600;
    width: 140px;
    padding-top: 3px;
    transition: all 0.2s linear;
}

.UserInTable h2 {
    font-size: 16px;
    margin-top: 15px;
    color: #333;
}


/* ___________________________ (2-3) icones partag�s par Table & Fiche detaillee _______________________ */

.boite > div {
  padding-top: 13px;
}

.boite .mail , .infoUser .mail {
    background: url("/images/ANR-31.svg") no-repeat left top;
    background-size: 1.6em;
    padding-left: 30px;
    padding-bottom: 10px;
}

.boite .phoneNumbers, .infoUser .phoneNumbers {
    background: url("/images/ANR-32.svg") no-repeat left top;
    background-size: 1.6em;
    padding-left: 30px;
    padding-bottom: 10px;
}

.affectations > label {
    background: rgba(0, 0, 0, 0) url("/images/ANR-35.svg") no-repeat scroll left top / 2.2em auto;
    margin-bottom: 0;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-top: 5px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: normal;
}


/* ___________________________ (3) Fiche detaillee _______________________ */



.User .boite {
    position: relative;
    font-size: 13px;
    margin-top: 50px;
    padding: 15px;
    padding-top: 1px;
    border-radius: 10px;
    border: #b5c1da 1px solid;
    border-top: #D5DCeA 25px solid;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4), 0 2px 4px 0 rgba(0, 0, 0, 0.40);
    box-shadow: 3px 3px 3px 0px #dedede;
    background: #f8f8f9;
}

.boite h2 {
    font-size: 22px;
    color: #444
}

.boite .affectations {
    margin-top: 14px;
    margin-bottom: 30px;
}

.boite .affectations > label {
    background: none;
    padding-bottom: 4px;
    padding-left: 0px;
}



/******** titres personnes*********/


.boite .employeeType {
    font-size: 17px;
    margin-bottom: 0px;
}

.boite .supannRoleEntite {
    font-size: 17px;
    margin-bottom: 0 px;
}

.boite .description {
    font-size: 15px;
}

.boite .affiliations {
    font-family: "Brandon Grotesque",Arial,sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    color: #9f6c07;
    margin-top: 16px;
}

.boite .supannActivite {
    font-size: 13px;
    color: #9f6c07
}


/* _________ page perso_______ */

.boite .labeledURI {
    background: rgba(0, 0, 0, 0) url("/images/ANR-46.svg") no-repeat scroll left top / 2.55em auto;
    margin-bottom: 0;
    margin-top: 14px;
    padding: 6px 4px 0 35px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: normal;
}

.boite .labeledURI a {
    text-transform: none;
    font-size: 13px;
}

.fonctions-utilisateurs {
    padding-right: 15px;
}

.boite .contactInformation {
    border-left: 1px #888 dotted;
    padding-left: 0;
    padding-bottom: 0px;
    margin-bottom: 20px;
}




.boite .address {
    background: rgba(0, 0, 0, 0) url("/images/ANR-33.svg")


    no-repeat scroll left 8px top / 1.6em auto;
    padding-bottom: 0px;
    padding-left: 36px;
    padding-top: 3px;
    margin-top: 3px;
    line-height: 17px;
}

.boite .address > span {
    display: block;
}

.boite .address {
    background: none;
}

.boite .postalAddress {
    font-size: 12px;
}

.my-icon-mapMarker {
    fill: #5381ac;
    --my-icon-size: 14px;
    vertical-align: top;
    margin-left: 2px;
}

.boite .userChartFormatLink {
    background: rgba(0, 0, 0, 0) url("/images/ANR-52.svg") no-repeat scroll left 7px top / 1.6em auto;
    border-bottom: 1px dotted #888;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-left: 36px;
    width: 190px;
}

.boite .mail {
    padding-left: 36px;
    background-position: left 7px top;
    background-size: 1.5em;
}

.boite .phoneNumbers {
    padding-left: 36px;
    background-position: left 7px top;
    background-size: 1.5em;
}

.userAnnuaireURL {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    padding-bottom: 10px;
}

.userAnnuaireURL a {
    font-family: verdana, arial, sans-serif;
}

.userAnnuaireURL a:hover {
    color: #00326e;
}

.more_account_link {
    color: #9a9a9a;
    fill: #9a9a9a;
    margin-left: 8px;
}
.more_account_link a {
    margin-left: 8px;
}
.more_account_link .my-icon {
    margin-left: 2px;
}
.modify_account {
    border-right: 0px red solid;
    padding-right: 25px;
    padding-bottom: 10px;
    background: rgba(0, 0, 0, 0) url("/images/ecrire.png") no-repeat scroll right top;
    background-size: 1.8em;
}

.modify_account a {
    color: #9F6C07;
}

.backToHome .my-icon-remove {
    background-color: #D5DCEA;
    border: 1px solid #D5DCEA;
    border-radius: 4px;
    fill: #95a7cb;
    --my-icon-size: 14px;
    margin: 0;
    position: absolute;
}



/* _____________________ Trombino ______________________ */


.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    border: 1px solid #ccc;
}

.photoGallery {
    width: 140px;
    height: 240px;
    overflow: hidden;
    display: inline-block;
    margin: 0 12px;
}

.photoGallery:hover {
    text-decoration: none !important;
}

.photoGallery .photo {
    height: 160px;
    overflow: hidden;
    border: 1px #999 solid;
    background-color: #f8f8f8;
    transition: all 0.4s linear;
}

.photoGallery .text {
    text-align: center;
    padding: 4px 0 8px 0px;
    font-size: 12px;
    font-weight: bold;
    background-color: #727780;
    border: 1px #727780 solid;
    color: #fff;
    transition: all 0.4s linear;
}

.photoGallery .text:hover {
    background-color: #00326e;
    transition: all 0.4s linear;
}

.photoGallery .photo:hover {
    border: 2px #00326e solid;
    transition: all 0.4s linear;
}


/*________________________________________________*/


.OrgChart-outer {
    display: flex;  
        /* display: initial;   pour corriger les double positionnments - yami */ 
    flex-wrap: wrap;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 96%  ; 
}
/* center OrgChart */
.OrgChart-outer::before, .OrgChart-outer::after {
    content: ' ';
    margin: 0 auto;
}

.OrgChart {
    padding: 20px;
    padding-top: 40px;
    margin-bottom: 20px;
    background-color: #fff; background-color: #f4f6f9; background-color: #f6f8fc;

    border: 1px solid #D5DcEa;
    border-top-width: 5px;
    border-radius: 15px;
    margin-left: 8px;
    margin-right: 8px;
    position: relative;
}

.OrgChart .my-icon-remove {
    background-color: #eee;
    background-color: #f4f6fa;
    border: 1px solid #eee;
    --my-icon-size: 13px;
    fill: #aaa;
    margin: 4px;
    position: absolute;
    right: 5px;
    top: 5px;
}

.OrgChart .role {
    color: #eeeccc;
    text-transform: uppercase;
     
    padding-top: 9px;

}

.members .affiliationName {
    color: #eeeccc;
    text-transform: uppercase;
    padding-top: 4px;
    border-bottom: 1px dotted;
}

.OrgChart ul {
    margin: 0;
    padding: 0;
    position: relative;
}

.OrgChart li {
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 5px 5px 5px 10px;
padding: 5px 5px 5px 5px; /* yam */ 
}

.OrgChart .sameBlocSize {
    display: flex;
}

.OrgChart li .bloc {
    border-radius: 5px;
    display: inline-block;
    min-height: 32px;
    padding: 7px 5px;
}

.tree, .vertical {
    font-size: 12px;
    font-size: 11px;
    font-weight: bold; font-weight: normal;  /* yam */ 
}

.bordered {
    border: 1px solid #aaa;
    background-color: #F4F6FA;
    background-color: #EEF1F7;
}


.pedagogy {
    border-color: #a08777;
    background-image: url("/images/pedagogy.png");
    background-repeat: no-repeat;
    background-position: right top;
}

.secondary-bloc  .pedagogy {
    background-size: 0.8em
}

.research {
    border-color: #a08777;
    background-image: url("/images/research.png");
    background-repeat: no-repeat;
    background-position: right top;
     
}

.research:hover {
    background-image: url("/images/research-on.svg");
    background-repeat: no-repeat;
    background-position: right top;
}

.pedagogy:hover {
    background-image: url("/images/pedagogy-on.svg");
    background-repeat: no-repeat;
    background-position: right top;
}

.tree a {
    color: #20558A;
}

.tree li {
    padding-top: 20px;
}

.ul_depth2 li {
    display: flex;
    padding-bottom: 0;
}
.ul_last_depth2 > li {
    padding-bottom: 20px;
}

 /* We will use  .horizLeft and  .horizRight to draw the connectors. Both  .horizLeft and  .horizRight are displayed ABOVE li>a :
    li .horizLeft, ul::before on the left
    li .horizRight on the right
  */

.tree ul {
    display: flex;
}

li.nonSelectedElt {
    font-size: 30%;
    text-align: initial;
}

li.nonSelectedElt .bloc {
    opacity: 0.5;
    overflow: hidden;
}

.tree li.nonSelectedElt .bloc {
    min-height: 0;
    width: 15px;
    padding: 5px 2px;
}

.tree li > .horizLeft,
  .tree li > .horizRight {
    position: absolute;
    top: 0;
    width: 50%;
    height: 20px;
    border-top: 1px solid #aabbcc;
    background-image: url(arrow-NE.svg);
    background-size: 5px;
    background-position: left bottom;
    background-repeat: no-repeat;
}

.tree li > .horizLeft {
    background-image: url(arrow-NW.svg);
    background-position: right bottom;
}

.tree li > .horizLeftBelow,
  .tree li > .horizRightBelow {
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 19px;
    border-bottom: 1px solid #aabbcc;
}

.tree li > .horizLeft,
  .tree li > .horizLeftBelow {
    right: 50%;
}

.tree li > .horizRight,
  .tree li > .horizRightBelow {
    left: 50%;
}

.tree li > .horizRight {
    border-left: 1px solid #aabbcc;
}

.tree li.selectedElt > .horizLeftBelow {
    border-right: 1px solid #aabbcc;
    border-radius: 0 0 5px 0;
}

.magic_line_right {
    border-left: 1px solid #aabbcc;
    border-radius: 0 0 0 5px;
    margin-left: -1px; /* next to the magic line left (if it is displayed) */
}
    

/* Remove left connector from first child and right connector from last child*/
.mainTree li:first-child > .horizLeft,
.tree li.last-internal > .horizRight,
.tree li:last-child > .horizRight {
    border-top: none;
}

/* rounded left border */
.mainTree li:first-child > .horizRight {
    border-radius: 5px 0 0 0;
}

/* replace last border-left with border-right to allow rounded border in the left direction */
.tree li.last-internal > .horizRight,
.tree li:last-child > .horizRight {
    border-left: none;
}

.tree li.last-internal > .horizLeft,
.tree li:last-child > .horizLeft {
    border-right: 1px solid #aabbcc;
    border-radius: 0 5px 0 0;
}

/* but remove it for root node */
.mainTree > ul > li > .horizLeft {
    display: none;
}

.smallVertical {
    border-right: 1px solid #aabbcc;
    height: 18px;
    display: flex;
    width: 50%;
}

.mainTree > ul, .mainTree > ul > li {
    padding: 0;
}

.mainTree > ul > li.withBorder {
    border-bottom: 1px solid #aabbcc;
    margin-left: 4px;
}

.vertical > ul > li.withBorder {
    border-left: 1px solid #aabbcc;
    border-top: 1px solid #aabbcc;
    border-radius: 5px 0 0 0;
    width: 4px;
    height: 24px;
    padding: 0;
    margin-top: -1px;
}

.display_secondary_bloc .vertical > ul {
    width: 44.5em;
}

.vertical li {
    padding: 0px 20px 16px 20px;
    pointer-events: none;
}

.display_secondary_bloc .vertical li {
    padding-right: 2px;
}

.vertical li .bloc {
    width: 12.37rem;
    display: block;
    pointer-events: all;
}

.div_depth1 .vertical li .bloc {
     
    width: 23em; /*yam */ 
      font-weight : normal; 
}



.vertical li.nonSelectedElt {
    padding-top: 8px;
}

.vertical li.nonSelectedElt .bloc {
    margin-top: 0;
    min-height: initial;
    height: 8px;
}

.vertical .name {
    padding: 8px 3px;
}

.vertical li > .verticalTop,
  .vertical li > .verticalBottom {
    position: absolute;
    left: 0;
    border-left: 1px solid #aabbcc;
    width: 20px;
    height: 50%;
    background-image: url(arrow-WN.svg);
    background-size: 5px;
    background-position: right bottom;
    background-repeat: no-repeat;
}

.vertical li > .verticalBottom {
    background-image: url(arrow-WS.svg);
    background-position: right top;
}

.vertical li .verticalTopRight,
  .vertical li .verticalBottomRight {
    position: absolute;
    right: 0;
    border-right: 1px solid #aabbcc;
    width: 19px;
    height: 50%;
}

.vertical li .verticalTop,
  .vertical li .verticalTopRight {
    bottom: 50%;
}

.vertical li .verticalBottom,
  .vertical li .verticalBottomRight {
    top: 50%;
}

.vertical li > .verticalTop,
  .vertical li.selectedElt .verticalTopRight {
    border-bottom: 1px solid #aabbcc  ;    

}

.display_secondary_bloc .vertical li.selectedElt .bloc {
    border-radius: 5px 0 0 5px ;
    border-right: none;   
}


.vertical li:last-child > .verticalBottom {
    border-left: none;
}

/* rounded bottom border */
.vertical li:last-child > .verticalTop {
    border-radius: 0 0 0 5px;
}

.secondPane {
    display: flex;
}

.secondPane .tree {
    flex-grow: 1;
}

.secondPaneB li {
    padding: 10px 20px;
}

.connect_l3b {
    top: 0;
    right: 0;
    height: 30%;
    width: 20px;
    position: absolute;
    border-bottom: 1px solid #aabbcc;
}

.secondPaneB {
    margin-top: 24px;
    margin-left: -1px;
}

/* Remove left connector from first child and right connector from last child*/
.secondPaneB li:first-child > .verticalTop {
    border-left: none;
}


.members_other {
    font-size: 88%;
}

.members_other .description {
    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
}

.members_other .user-no-role {
    font-weight: normal;
}

.members_other.many_members {
    max-height: 17rem;
    overflow-y: hidden;
}

.show_hide_more_members {
    box-shadow: 0px 0px 10px gray; 
    text-align: center;
    cursor: pointer;
    font-size: 105%;

margin-bottom: 10px;
margin-top: 10px;
 
  padding : 3px;
 border: 1px solid #99999930;
  border-radius: 2px;
  
  box-shadow: 0px 1px 1px #999;
  -webkit-box-shadow: 0px 1px 1px #999;   
  -moz-box-shadow: 0px 1px 1px #999;    

background: #e7eaf161;
}



.show_hide_more_members:hover {
    box-shadow: 0px 0px 6px gray; 
  background: #e7eaf114;

}



.depth4 .members_other .user-no-role {
    color: #00326e;
}

.thirdPane {
    margin-top: 23px;
    display: flex;
}

.thirdPane > ul {
    padding-top: 0;
}

li .secondary-bloc {
    position: relative;
    float: right;
    padding-top: 0;
    margin-top: 0;
    padding-right: 19px;
    margin-right: -2px;
}

li .secondary-bloc .bloc {
    border-radius: 0 5px 5px 0 !important;
}

li .secondary-bloc .members {
    margin-top: 0;
    border-left: 1px dotted #999;
    padding-left: 5px;
}

.connect-blocs {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    background: white;
    width: 1.52em;
    border-style: solid;
}

.connect-blocs {
    border-width: 1px 0;
    margin: 0px 0 16px -10px;
}

.empty4 {
    flex-grow: 1;
    min-width: 20px;
}
.empty4WithBorder {
    border-top: 1px solid #aabbcc;
}
.empty4Top {
    position: absolute;
    top: -23px;
    height: 23px;
    width: 50%;
    border-right: 1px solid #aabbcc;
    Xborder-radius: 0 5px 0 0;
}

.tree li.l2_to_only_one_l4 {
    padding-top: 0;
}

.display_secondary_bloc .empty4 {
    min-width: none;
}

.foo {
    height: 24px;
    width: 2px;
    position: absolute;
    background: #aabbcc;
    bottom: -23px;
    left: 0;
}


/* _____________________________ ORGANIGRAMME __________________________ **/


/*** bloc image recherche par organigramme */


.chartFormatLink {
    min-height: 60px;
    padding-top: 60px;
    background: url("/images/ANR-38c.svg") no-repeat top center;
    background-size: 5.8em;
    text-align: center;
    text-transform: uppercase;
    font-family: "Brandon Grotesque",Arial,sans-serif;
    color: #727780;
    border: 1px solid white;
    border-left: 2px solid #ccc;
    border-right: 2px solid #fff;
}

.chartFormatLink:hover {
    color: #20558a;
    text-decoration: none !important;
    border-left: 2px solid #c89108;
    border-right: 2px solid #c89108;
    border-radius: 9px;
    transition: all 0.4s linear;
}

.tree a {
    color: #20558A;
    color: #00326e;
}



/***** ORGANIGRAMME :  vertical **/


.div_depth1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.depth1_roles {
    flex-direction: column;
}
.depth1_roles li {
    padding-bottom: 0;
}
.depth1_roles li.onlyOne {
    padding-left: 0;
    padding-right: 0;
}

  

.depth1_roles_below .bloc,
.depth1_roles .bloc { 

     margin-bottom: 0.5rem;
    border: 1px solid #bdbdbd;   
	color: #333; 
    background: #fde0996b;
	
} 






.depth1_roles_below a,
.depth1_roles a {
    font-weight: normal;
}

.depth1_roles li:first-child .verticalBottomRight,
.depth1_roles li:first-child .verticalBottom {
    border-top: 1px dashed #abc; /* ou solid #dba */
}
.depth1_roles li:first-child .verticalBottomRight {
    border-radius: 0 5px 0 0;

}
.depth1_roles li:first-child .verticalBottom {
    border-radius: 5px 0 0 0;
}
.depth1_roles .verticalTop {
    border-bottom: 1px dashed #abc !important;
}
.depth1_roles .verticalTop,
.depth1_roles .verticalBottom {
    border-left: 1px dashed #abc !important;
}

.depth1_roles .verticalTopRight {
    border-bottom: 1px dashed #abc !important;
}
.depth1_roles .verticalTopRight,
.depth1_roles .verticalBottomRight {
    border-right: 1px dashed #abc !important;
}

.depth1_roles_below {
    position: relative;
}
.depth1_roles_below > div {
    position: absolute;
    border-right: 1px solid #abc;
    height: 20px;
    width: 36%;
}
.depth1_roles_below > ul {
    position: absolute;
}

.vertical li:last-child > .verticalTopRight {
    border-radius: 0 0 5px 0;
}

.div_depth1 .bloc {
    min-height: initial !important;
}
.div_depth1 .horizRight,
.div_depth1 .horizLeft {
    position: absolute;
    top: 3.8rem;
    width: 109px;
    border-top: 1px dashed #abc;
}

.div_depth1 .horizRight {
    left: 0;
}
.div_depth1 .horizLeft {
    right: 0;
}

.depth1_col2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;

}
.depth1_col2 > div:nth-child(2) {
    padding: 2rem 109px 0;
    position: relative;
}

.depth1_col2 > div:first-child,
.depth1_col2 .vertBelow {
    height: 50%;
}
.depth1_col2 .vertBelow {
    width: 50%;
    min-height: 2rem;
    border-right: 1px solid #abc;
}
.depth1_col2 .vertBelow.with_role_below {
    min-height: 5rem;
}

.depth1 {
    
    background-color: #C89108;
    color: white;
    font-weight: bold;
    font-size: 13px;
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.depth1 a {
    color: white;
    -font-weight: normal;
    font-size: 12px;
}

.depth2 {
    font-size: 1.15em;	font-size:12px;
    font-weight: bold;
     
   background-color: #FDE099 ; 
 
    
}
.depth2.external {
    background-color: #fff;
}

 

span.bordered.depth2 {
    min-height: auto;
}

.bloc.bordered.depth2 {
    max-width: 12rem;
    min-width: 97px;
    min-height: 88px; 

}



.organization {
    border: 1px dashed #c89108;
}

.depth2 .members {
    font-size: 0.94em;
    font-weight: normal;
}

.depth2 .members_other {
    font-size: 0.90em;
}

.depth2 .role,
.depth2 .affiliationName,
.depth2 .user-description {
    color: #4e3503;
    color: #5A1A1A; 
     color : #232323; 
}

.depth2 .role,
.depth2 .affiliationName {
    font-weight: bold;
}

.depth2 .affiliationName {
    border-bottom: 1px dotted;
}

.selectedElt > span > .depth2:not(.external) {
    
    background-color: #C89108;
    -webkit-box-shadow: 2px 4px 2px -1px rgba(153,153,153,1);
    -moz-box-shadow: 2px 4px 2px -1px rgba(153,153,153,1);
    box-shadow: 2px 4px 2px -1px rgba(153,153,153,1);
    color: white;
}

.selectedElt > span > .depth2:not(.external) a {
    color: white;
}

.vertical .depth3 {
    background-color: #E6EEFB; 
    border: 1px solid #888; 
    padding-top: 10px !important;
    padding-bottom: 6px !important;
}
.vertical .depth3.external {
    background-color: #fff;
}

.vertical .depth3 .name {
    color: #00326e;
    font-size: 11px;
}

.selectedElt .depth3 {
    color: white;
    background-color: #00326e; 
    padding-top: 9px !important;
}

.selectedElt .depth3:not(.external) .name {
    color: white;
}
.selectedElt .depth3 .name {
    font-weight: bold;
}

.selectedElt .depth3 .members {
    padding-left: 6px;
}

.depth3 .role, .depth3 .user-description {
    color: #eeeccc;
}

.selectedElt .depth3 a {
    color: white;
    font-weight: normal;
}

.secondary-bloc .depth3 {
    border-width: 3px;
}

li .secondary-bloc .bloc {
    border-radius: 0 5px 5px 5px !important;
}


.depth4 {
    background-color: #fff;
    border: 1px solid #898989 ;
    color: #333;
     
    padding-top: 12px !important; 
     
}

 

.depth4 a {
    font-weight: normal;
}

.depth4 .role, .depth4 .affiliationName {
    color: #666 !important;
    line-height: 13px;
    font-size: 90%;
    margin-bottom: 4px;
    margin-top: 8px;
}

.depth4 .members {
    background-color: #f6f6f6 !important;
    color: #555;
    padding-left: 3px;
}

 



 
.depth2, .depth3, .depth4  {
      border: 1px solid #aaa;   
} 


  











.depth5, .depth6 {
    background-color: #fff;
    border: 1px solid #bbb !important;
    color: #555;
     max-width: 130px; /* yam */ 

}

 

.depth5 a, .depth5 a {
    font-weight: normal;
}

.depth5 .role, .depth5 .affiliationName {
    color: #666 !important;
}

.depth6 .role, .depth6 .affiliationName {
    color: #666 !important;
}

.depth7 {
    background-color: none;
}

.members {
    text-align: left;
}
.members.withSeparator {
    padding-top: 0.7em;
    border-top: #999 dotted 1px;
    margin-top: 8px;
}

.secondary-bloc .depth3 .members {
    padding-top: 0.5em;
    padding-bottom: 0.2em;
    border-top: 0;
}

.members .user-with-role {
    clear: both;
    font-size: 100%;
}

.members .role {
    font-size: 95%;
    clear: both;
}

.members .affiliationName {
    text-transform: uppercase;
}

.User .imgMarg {
    margin-top: 15px;
}

.User .postalAddress {
    white-space: pre-wrap;
}

.User .backToHome .my-icon-remove {
    top: -20px;
    right: 5px;
}



/*__________ test organigramme individu ___________*/



/*  depth2   */
.tree li.nonSelectedElt .bloc {
    min-height: 69px;
    width: 40px;
}

.tree li.nonSelectedElt .bloc:hover {
    width: 70px;
    opacity: 1;
}

/* depth2+4 */
li.nonSelectedElt .bloc {
    font-size: 7px;
}

li.nonSelectedElt .bloc:hover {
    font-size: 9px;
    opacity: 1
}


/*  depth3   */
.vertical li.nonSelectedElt span {
    width: 12.37rem;
}

.vertical li.nonSelectedElt .bloc {
    height: initial;
}

.vertical li.nonSelectedElt span {
    font-size: 8px !important;
    padding-top: 1px !important;
}

.vertical li.nonSelectedElt .bloc:hover {
    background: none;
}

.vertical li.nonSelectedElt .bloc a:hover {
    text-decoration: none;
}



/* _________________________ footer ______________ */


.legalFooter {
    font-size: 10px;
    text-align: center;
    color: #666;
    border-top: 0px solid #ddd;
    padding: 9px;
    width: 62%;
    margin: auto;
    margin-bottom: 45px;
    margin-top: 5px;
}




/********/



@media screen and (max-width:1024px) {



    .depth2 {
        font-size: 10px;
        font-weight: bold;
         
    }
}




/* _________________________  MODE MOBILE  ______________ */

/**  Si mode mobile forcer la liste des personnes à s'adapter à la taille du mobile
	En effet le tag "table" ne s'adapte pas automatiquement à la taille du mobile   **/




@media only screen and (max-width: 768px) {

/* For mobile phones: */

    .table tr td:first-child { /* the photo */
        float: right;
    }

    .table tr td {
        display: block;
        border-top: 0px solid #d42626 !important;
    }

    .table tr {
        border: 1px solid #ccc;
    }

    .search {
        width: 100%;
        border: none;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    .search form {
        width: 100%;
        padding-top: 10px;
        margin-left: auto;
        margin-right: auto;
        border: none;
    }

    .chartFormatLink {
        background-position: center top 1px;
        width: 33%;
        margin: 20px 33%;
        margin-top: 2px;
        border-left: 1px solid #bbb;
        border-right: 1px solid #bbb;
    }

    .Filters > div {
        align-items: stretch;
    }

    .boite .contactInformation {
        border: 0px;
        padding-left: 11px
    }

    .boite .userChartFormatLink {
        border: 0px;
    }


    /* barre mode d affichage */
    .ChooseFormat a {
        font-size: 0px;
    }

    .ChooseFormat .my-icon {
        --my-icon-size: 18px;
    }
}

@media screen and (max-width:480px) {

    .chartFormatLink {
        min-height: 18px;
        min-width: 120px;
        padding: 8px;
        background-image: none;
        border: 1px solid white;
        border-left: 2px solid #ccc;
        border-right: 2px solid #ccc;
    }
}

@media screen and (max-width:350px) {

    .chartFormatLink {
        display: none;
    }

    .legalFooter {
        margin-top: 50px;
    }
}




/* ______________________ SLIDER + MEDIA _______________________ */


.Slider {
    width: 77%;
    max-width: 1100px;
    min-width: 300px;
    margin: auto;
    margin-top: 41px;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
    border-bottom: 2px solid #ddd;
    background-color: #f8f8f9;
    border-color: #6f90b8;
    border-top-color: #95a7cb;
    border-radius: 10px;
}

.Slider .slides img {
    max-width: 91%;
    max-height: 91%;
    vertical-align: middle;
}

.Slider .slides > li {
    height: 291px;
}

.flex-caption {
    margin: auto 0;
    padding-right: 3rem;
    width: 100%;
    font-size: 16px;
    font-family: Arial,verdana;
    font-weight: normal;
    line-height: 22px;
    color: #556677;
}

.flex-caption h1 {
    font-size: 22px;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    margin: 0;
    margin-bottom: 24px;
    color: #556677;
}

.flex-caption a {
    text-decoration: none;
}

.flex-caption a:visited {
    text-decoration: none;
    color: #00326e;
}

.flex-direction-nav {
    opacity: 0.3;
}

.flex-direction-nav:hover {
    opacity: 0.9;
}

@media screen and (max-width:1024px) {

    .Slider {
        width: 88%;
        margin: auto;
    }

    .Slider .slides > li {
        height: 300px;
    }

    .flex-caption {
        top: 20% !important;
        padding-right: 0.3rem;
    }

    .Slider .slides img {
        height: 75%;
        margin-top: auto;
        margin-bottom: auto;
    }

    .legalFooter {
        width: 80%;
    }
}

@media screen and (max-width:768px) {

    .Slider {
        width: 98%;
        margin: auto;
    }

    .flex-caption {
        top: 20% !important;
        font-size: 14px;
    }

    .flex-caption h1 {
        font-size: 17px !important;
        margin-bottom: 15px !important;
        font-weight: bold !important;
    }

    .flex-caption {
        top: 15% !important;
    }

    .Slider .slides img {
        max-width: 60%;
        max-height: 60%;
        margin-top: auto;
        margin-bottom: auto;
    }
}

@media screen and (max-width:480px) {

    .Slider .slides > li {
        height: 285px;
    }

    .flex-caption h1 {
        font-size: 15px !important;
        font-size: 13px;
    }

    .flex-caption {
        top: 15% !important;
    }

    .Slider .slides img {
        max-width: 45%;
        max-height: 45%;
    }

    .flex-direction-nav {
        width: 30px;
        height: 30px;
        margin: auto 0.5rem;
    }

}

@media screen and (max-width:350px) {

    .Slider {
        display: none;
    }
}

@media screen and (max-height:860px) { 

    .legalFooter {
        padding: 0px;
        width: 92%;
    }

    .Slider .slides > li {
        height: 265px;
    }

    .Slider, .User .boite  {
        margin-top: 2px;
    }

    .boite > div {
        padding-top: 6px; 
    }

}

@media print {
    a:link:after, a:visited:after {
        content: "";
    }

    .chartFormatLink, .search,
    .my-icon-remove, .Users .warning,
    .nb-results-and-formats .ChooseFormat {
        display: none;
    }

    #bandeau-anonyme-title {
        display: none
    }

    .bandeau-logo {
        display: none
    }

    .col-md-6 {
        width: 100%;
    }


    /* pour logo test  */
    .App {
        margin: 0 !important;
        padding-top: 45px;
        background: rgba(0, 0, 0, 0) url("/images/logo_paris1.svg") no-repeat scroll center top / 220px auto !important;
    }

    .affectationFilter {
        margin-top: 15px !important;
        margin-bottom: 0 !important;
        padding-top: 0px !important;
        width: 100% !important;
        text-align: center !important;
        border: none !important;
    }

    .affectationFilter .name {
        display: initial !important;
        font-size: 17px !important;
        width: 100% !important;
        font-weight: bold;
        font-family: Georgia, "DejaVu Serif", Norasi, "Times", serif;
    }

    .affectationFilter .filterChartFormatLink,
   .affectationFilter .labeledURI,
   .queryFilter {
        display: none;
    }

    .OrgChart {
        padding: 0 !important;
        background: none;
        border: 2px #999 solid;
    }

    .depth2 {
        -webkit-print-color-adjust: exact;
        background-color: #f4cd71 !important;
        border-color: #f1c050;
        border-style: solid;
        border-width: 3px 2px 2px;
        font-size: 11px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .selectedElt > span > .depth2 {
        -webkit-print-color-adjust: exact;
        background-color: #c89108 !important;
        ;
    border: 3px solid #c89108;
    }

    .selectedElt > span > .depth2 a {
        color: #fff !important;
        font-size: 13px;
    }

    .vertical .depth3 {
        background-color: #e6eefb !important;
    }

    .selectedElt .depth3 {
        background-color: #20558a !important;
    }

    .selectedElt .depth3 .name {
        color: #fff !important;
        font-weight: bold;
    }

    .selectedElt .depth3 .members a {
        color: #fff !important;
    }

    .selectedElt .depth3 .role {
        color: #eeeccc !important;
    }

    .selectedElt .depth3 .user-no-role {
        color: #fff !important;
    }

    .legalFooter {
        font-size: 10px;
        margin: auto;
        margin-top: 30px;
        padding: 10px;
        text-align: center;
        color: #999;
        width: 68%;
    }
}  /* FIN Print */




.hideChart .userChartFormatLink,
.hideChart .chartFormatLink,
.hideChart .ChooseFormat .chart {
  display: none;
}

 
 



/* les entitees virtuelles */ 
.organization { 
	border-style: dashed !important; 
}

 

/* DGS et ses child */ 

.depth1_roles_below .bloc,
.dgs , 
.depth4.dgs, 
.depth5.dgs, 
.selectedElt > span > .depth2:not(.external).organization.dgs 
 
 { border-radius: 0 !important;   
     border-color: #18cbcb  !important ; /* bleu-vert */  
 
     
}


.selectedElt > span > .bloc, /* l2 & l2bis */
.selectedElt > .bloc /* l3 & l4 */ {
    -webkit-box-shadow: 2px 4px 2px -1px rgba(153,153,153,1);
    -moz-box-shadow: 2px 4px 2px -1px rgba(153,153,153,1);
    box-shadow: 2px 4px 2px -1px rgba(153,153,153,1);
     border-width : 2px ; 
}  

  


